name: CI Pipeline

on:
  push:
    branches: [ main, feature/post-animes ]
  pull_request:
    branches: [ main ]

jobs:

  lint:
    name: Verificação de Estilo
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20


      - name: Cache de dependências
        uses: actions/cache@v4
        with:
          path: ~/.npm 
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Instalar dependências
        run: npm ci

      - name: Rodar lint
        run: npm run lint


  test:
    name: Verificação de Cobertura de Testes
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      
      - name: Cache de dependências
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Instalar dependências
        run: npm ci

      - name: Executar testes com cobertura
        
        run: npm run test -- --coverage --coverageThreshold='{"global":{"branches":90,"functions":90,"lines":90,"statements":90}}'